<ion-view view-title="用户净增">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="personalInfo">个人信息</button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader" style="height: 56px;">
    <div class="row">
      <div class="col">
        <div class="col-demo main-select" ng-class="{activity : flag == 'day'}" ng-click="queryDayUserNetInfo()">日</div>
      </div>
      <div class="col">
        <div class="col-demo main-select" ng-class="{activity : flag == 'week'}"
             ng-click="queryWeekUserNetInfo()">周
        </div>
      </div>
      <div class="col">
        <div class="col-demo main-select" ng-class="{activity : flag == 'month'}"
             ng-click="queryMonthUserNetInfo()">月
        </div>
      </div>
    </div>
  </ion-header-bar>
  <ion-content has-bouncing="true" overflow-scroll="false">
    <ion-refresher pulling-text="下拉刷新" on-refresh="deRefresh()"></ion-refresher>
    <div ng-show="showChart" class="list" style="margin-top: 12px;">
      <div ng-show="showChart1" class="item item-text-wrap">
        <div id="userNetChart1" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart2" class="item item-text-wrap">
        <div id="userNetChart2" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart3" class="item item-text-wrap">
        <div id="userNetChart3" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart4" class="item item-text-wrap">
        <div id="userNetChart4" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart5" class="item item-text-wrap">
        <div id="userNetChart5" style="width: 95%;height:260px;"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
