<ion-view view-title="用户净增">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="personalInfo">个人信息</button>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader" style="height: 56px;">
    <div class="row">
      <div class="col">
        <div class="main-select" ng-class="{activity : flag == 'day'}" ng-click="queryDayUserNetInfo()">日
        </div>
      </div>
      <div class="col">
        <div class="main-select" ng-class="{activity : flag == 'week'}"
             ng-click="queryWeekUserNetInfo()">周
        </div>
      </div>
      <div class="col">
        <div class="main-select" ng-class="{activity : flag == 'month'}"
             ng-click="queryMonthUserNetInfo()">月
        </div>
      </div>
      <div class="col-10">
        <a class="button icon ion-navicon" ng-click="modal.show()"></a>
      </div>
    </div>
    <!--<div class="list">-->
    <!--<div class="item item-divider item-icon-right">查询条件-->
    <!--<div ng-click="toggleQueryCondition()">-->
    <!--<i class="icon {{ show_query_condition ? 'ion-arrow-up-b' : 'ion-arrow-down-b' }}"></i>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div ng-show="show_query_condition">-->
    <!--<div class="item item-input item-select">-->
    <!--<div class="input-label">-->
    <!--行政区域:-->
    <!--</div>-->
    <!--<select ng-model="condition.adminArea"-->
    <!--ng-options="area.adminAreaName for area in adminAreaData track by area.adminAreaId"></select>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </ion-header-bar>
  <ion-content has-bouncing="true" overflow-scroll="false">
    <!--<div class="list card">-->
    <!--<div class="item item-body">-->
    <ion-refresher pulling-text="下拉刷新" on-refresh="deRefresh()"></ion-refresher>
    <div ng-show="showChart" class="list card" style="margin-top: 20px;">
      <div ng-show="showChart1" class="item item-body">
        <div id="userNetChart1" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart2" class="item item-body">
        <div id="userNetChart2" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart3" class="item item-body">
        <div id="userNetChart3" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart4" class="item item-body">
        <div id="userNetChart4" style="width: 95%;height:260px;"></div>
      </div>
      <div ng-show="showChart5" class="item item-body">
        <div id="userNetChart5" style="width: 95%;height:260px;"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
