<ion-view title="修改密码">
  <ion-content has-bouncing="true" overflow-scroll="false">
    <div class="login-mian">
      <div class="login-content">
        <div class="blank-h12"></div>
        <div class="input-wrap row row-center">
          <label class="left-icon-wrap">
            <i class="icon ion-ios-locked-outline"></i>
          </label>
          <input type="password" class="col login-input" placeholder="原密码" ng-model="user.oldPassword">
        </div>
        <div class="input-wrap row row-center mt-20">
          <label class="left-icon-wrap">
            <i class="icon ion-ios-locked"></i>
          </label>
          <input type="password" class="col login-input" placeholder="新密码"
                 ng-model="user.password">
        </div>
        <div class="input-wrap row row-center mt-20">
          <label class="left-icon-wrap">
            <i class="icon ion-ios-locked"></i>
          </label>
          <input type="password" class="col login-input" placeholder="确认密码"
                 ng-model="user.confirmPassword">
        </div>
        <div class="blank-h12"></div>
        <button class="button button-block button-positive" ng-click="modifyPassword()">
          修改密码
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
