<ion-view title="个人信息">
  <ion-content has-bouncing="true" overflow-scroll="false">
    <ion-list>
      <ion-item class="item item-text-wrap">
        <div class="row row-wrap">
          <div class="col col-100 col-center">
            <center>欢迎您,<span ng-bind="loginUser.userName"></span>!</center>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left" ng-click="checkUpdate()">
        <i class="icon ion-social-vimeo"></i>
        <span>检查更新</span>
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left" ui-sref="modifyPassword">
        <i class="icon ion-ios-gear"></i>
        <span>修改密码</span>
      </ion-item>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="loginOut()">
          退出登录
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
