<ion-view title="个人信息">
  <ion-content has-bouncing="true" overflow-scroll="false">
    <ion-list>
      <ion-item class="item item-text-wrap">
        <div class="row row-wrap">
          <div class="col col-100 col-center">
            <center>欢迎您,<span ng-bind="loginUser.userName"></span>!</center>
          </div>
        </div>
      </ion-item>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="loginOut()">
          退出登录
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
